/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Colors */
:root {
    --cream-beige: #FFF3DA;
}

/* Body */
body {
    background-color: var(--cream-beige);
    color: #333;
    line-height: 1.6;
}
